[gui]
	fontdiff = -family Courier -size 15 -weight normal -slant roman -underline 0 -overstrike 0
[user]
	name = Dara Kong
	email = darakong@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = white bold
    whitespace = red reverse
[core]
	excludesfile = /Users/darakong/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "git@github.com:"]
	insteadOf = https://github.com/
