[gui]
	fontdiff = -family Courier -size 15 -weight normal -slant roman -underline 0 -overstrike 0
[user]
	name = Dara Kong
	email = darakong@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
